


<div class="galeria">
    <h2>Introducción al trading</h2>
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize=2%>
        <mat-grid-tile>
            <mat-card class="mat-elevation-z7">
                <iframe  src="https://www.youtube.com/embed/f1e488ubDKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="mat-elevation-z7">
                <iframe  src="https://www.youtube.com/embed/jljDRaHWI4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="mat-elevation-z7">
                <iframe src="https://www.youtube.com/embed/VyqF_HLz8ok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
              <iframe  src="https://www.youtube.com/embed/Eq5yJ0Tohfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="mat-elevation-z7">
              <iframe  src="https://www.youtube.com/embed/Eq5yJ0Tohfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>



</div>

