<mat-card class="cuadro">
  <h1>Guía de uso</h1>
  <br>
  <h4>- Sistemas de trading</h4>
  <article>
    En este apartado puedes encontrar una tabla con todos los sistemas que hayas creado, descritos
    por cada una de sus variables.
    <br><br>
    Para crear un nuevo sistema da click en el botón crear y configura tu nuevo sistema. Al costado derecho de la tabla podras encontrar dos botones, para editary eliminar los sistemas.
    <br><br>
    Al dar click en el boon de editar se te desplegaran los parametros del sistema seleccionado en el formulario y simplemente tendras que dar click al boton de guardar para actualizar los parametros de tu sistema.
    <br><br>
    Al dar click al boton de eliminar, el sistema seleccionado sera eliminado al instante.
  </article>
  <br>
  <h4>- Trading automático</h4>
  <article>
    Usted puede configurar la función de trading automático para conocer en qué accion debe invertir
    conforme a sus estilo de trading. <br><br> El trading automatico que configure se reaalizara dia con dia mostrando en el mismo modulo de trading automatico el progreso que ha tenido.
    Usted podra observar en que empresa, con que indicador(es) y con que parametro se esta invirtiendo, ademas se muestra su capital al inicio del trading automatico y el capital actual generado por su sistema de trading automatico.
  </article>
  <br>
  <h4>- Backtesting</h4>
  <article>
    Conozca sus sistemas de trading y conozca el rendimiento conforme al tiempo, elija alguno de sus sistema de trading
    y presione ejecutar backtesting. Puede modificar los parametros de su sistema dentro del formulario de backtesting el cual le sugerira cambios en sus parametros dependiendo del modo en el que se encuentre.
    Se tienen 3 modos de usuario: Aprendiz, Novato y Pro.
    <br>
    <br>
    En modo <strong>Aprendiz</strong> se le sugeriran cambios en sus parametros y no podra ejecutar su backtesting hasta que corrija sus parametros correctamente.
    <br>
    En modo <strong>Novato</strong> se le sugeriran cambios en sus parametros, pero usted sera responsable de ejecutar el backtesting haciendo caso omiso de las sugerencias.
    <br>
    En modo <strong>Pro</strong> usted tiene control total de sus parametros, sientase en libertad de experimentar en nuestra seccion de backtesting!.
    <br>
    <br>
    Al finalizar cada backtesting podra seleccionar la opcion de <strong>optimizar sistema</strong> la cual le sugerira promedios obtenidos durantela ejecucion del bakctesting para ajustar los parametros de su sistema de trading.
    Ademas tendra acceso a una explicacion en video dando click a el link "Como interpretar estos resultados".
  </article>
  <br>
  <h4>- Introducción</h4>
  <article>
    Si es nuevo en el mundo de las inversiones, no puede saltarse esta sección, revise el contenido y aprenda a pensar
    como trader, perder como trader y ganar como trader. Esta seccion le ayudara mucho mas a entender como se maneja el mundo del trading y le dara una vision y mas amplio conocimiento a la hora de crear sistemas rentables de trading.
  </article>
  <br>
  <h4>- Tutorial</h4>
  <article>
    Vea un video para aprender a usar cada funcionalidad de esta aplicación y explótela al máximo. 
  </article>
  <br>
  <h4>- Indicadores</h4>
  <article>
    Vea y entienda cada uno de los inidcadores técnicos que utiliza la aplicación.
    Ahí encontrará las definiciones y cómo se calculan. 
  </article>
</mat-card>