<div id="FormRegistro" >
    <mat-card style="text-align:justify">
        <mat-card-title> Prueba tus sistemas de trading </mat-card-title>
      <form [formGroup]="backtestingForm" (submit)="onCreate(backtestingForm)">
        <mat-card-content>
          <mat-form-field>
              <mat-label>Seleccione un sistema</mat-label>
              <mat-select [(value)]='selectedSystem' (selectionChange)='imprimeSistema(selectedSystem)' required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let item of systems" [value]='item' > {{item.nombre}} </mat-option>
              </mat-select>

            </mat-form-field>
          <p>
              <mat-form-field appearance="outline">
                <mat-label>Rendimiento</mat-label>
                <input [(ngModel)]='ngRendimiento' name='rendimiento' matInput placeholder="2.3%" formControlName='rendimiento'>
                <mat-icon matSuffix>attach_money</mat-icon>
                <mat-hint  *ngIf="rendimiento.invalid && (rendimiento.dirty || rendimiento.touched)">
                  <mat-hint class="errores" *ngIf="rendimiento.errors.required"> Ingresa un rendimiento </mat-hint>
                </mat-hint>

              </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>StopLoss</mat-label>
                  <input [(ngModel)]='ngStoploss' name='stoploss'  matInput type="number" placeholder="-1.5%" formControlName='stoploss'>
                  <mat-icon matSuffix>money_off</mat-icon>
                  <mat-hint  *ngIf="stoploss.invalid && (stoploss.dirty || stoploss.touched)">
                    <mat-hint class="errores" *ngIf="stoploss.errors.required"> Ingresa un stoploss </mat-hint>
                  </mat-hint>
                  </mat-form-field>
              </p>
              <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Rango de operación</mat-label>
                    <input [(ngModel)]='ngRango' name='rango' matInput type="number" placeholder="3 días" formControlName='periodo'>
                    <mat-icon matSuffix> date_range</mat-icon>
                    <mat-hint  *ngIf="periodo.invalid && (periodo.dirty || periodo.touched)">
                      <mat-hint class="errores" *ngIf="periodo.errors.required"> Ingresa un rango de operación </mat-hint>
                    </mat-hint>

                  </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Día de inicio</mat-label>
                      <input matInput type="date" formControlName='fechaInicio'>
                      <mat-icon matSuffix>calendar_today</mat-icon>
                      <mat-hint  *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)">
                        <mat-hint class="errores" *ngIf="fechaInicio.errors.required"> Ingresa un día de inicio </mat-hint>
                      </mat-hint>
                    </mat-form-field>
                  </p>

                  <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Día de Finalización</mat-label>
                        <input matInput type="date" formControlName='fechaFinalizacion'>
                        <mat-icon matSuffix>calendar_today</mat-icon>
                        <mat-hint  *ngIf="fechaFinalizacion.invalid && (fechaFinalizacion.dirty || fechaFinalizacion.touched)">
                          <mat-hint class="errores" *ngIf="fechaFinalizacion.errors.required"> Ingresa un día de finalizacion </mat-hint>
                        </mat-hint>
                        </mat-form-field>
                    </p>

                  <button mat-raised-button color="primary" >Ejecutar backtesting</button>

      </mat-card-content>
      </form>

      </mat-card>

</div>

