<img id="fondo" src="../../../../assets/fondo_Inicio.jpg" alt="fondo" >
<img id="logo" src="../../../../assets/LogoBT.png" alt="LogoBT">



    <mat-toolbar id="toolbar" color="warm">
          <mat-toolbar-row>

          <span>BackTrading app</span>

              <span class="example-fill-remaining-space"></span>

              <form class="formulario" [formGroup]="loginForm" (submit)="onLogin(loginForm)">
                <!--Correo electrónico-->

                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email"  >
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint  *ngIf="email.invalid && (email.dirty || email.touched)">
                        <!-- <mat-hint class="errores" *ngIf="email.errors.required"> Ingresa un correo</mat-hint> -->
                        <mat-hint class="errores" *ngIf="email.errors.pattern"> Correo no válido</mat-hint>
                    </mat-hint>
                  </mat-form-field>
                <!--Contraseña-->
                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" >
                    <mat-icon matSuffix>visibility_off</mat-icon>

                    <mat-hint class="recuperacion" (mouseover)='hola()' (click)='recuperarCuenta()' style ="cursor: pointer;">
                      ¿Olvidaste tu contraseña? <mat-icon> help </mat-icon>
                    </mat-hint>

                  </mat-form-field>

                  <button mat-button type="submit" [style.bottom.px]=6> Iniciar sesión </button>
              </form>
              <mat-progress-spinner diameter="40" strokeWidth="10"   class="mat-progress-spinner" mode="indeterminate" *ngIf="cargando"></mat-progress-spinner>

            </mat-toolbar-row>

          </mat-toolbar>









