
.errores{
  color: red;

}


#fondo{
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 120%;

}

#logo{
  z-index: 100;
  position: absolute;
  top: 30%;
  left: 20%;
  height: 35%;
  width: 22%;
}

#logoToolbar{
  height: auto;
  width: 5%;
}

#toolbar{
  z-index: 200;
  position: fixed;
  width: 100%;
  top: 0%;
}



.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-form-field{
  margin-left: 2%;

}
mat-toolbar-row{
  padding-top: 3%;
  padding-bottom: 3%;
}


