  <img id="fondo" src="../../../../assets/fondo_Inicio.jpg" alt="fondo" >
  <img id="logo" src="../../../../assets/LogoBT.png" alt="LogoBT">



      <mat-toolbar id="toolbar" color="warm">
          <mat-toolbar-row>
          
          <span>BackTrading</span>  

              <span class="example-fill-remaining-space"></span>

              <form [formGroup]="loginForm" (submit)="onLogin(loginForm)">
                <!--Correo electrónico-->

                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email"  >
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-hint  *ngIf="email.invalid && (email.dirty || email.touched)">
                        <mat-hint class="errores" *ngIf="email.errors.required"> Ingresa un correo</mat-hint>
                        <mat-hint class="errores" *ngIf="email.errors.pattern"> Correo no válido</mat-hint>
                    </mat-hint>
                  </mat-form-field>
                <!--Contraseña-->
                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" >
                    <mat-icon matSuffix>visibility_off</mat-icon>

                    <mat-hint  *ngIf="password.invalid && (password.dirty || password.touched)">
                        <mat-hint class="errores" *ngIf="password.errors.minlength"> Contraseña menor a 6 caracteres </mat-hint>
                        <mat-hint class="errores" *ngIf="password.errors.required"> Ingresa una contraseña</mat-hint>
                        
                    </mat-hint>

                  </mat-form-field>

                  <button mat-button type="submit" [style.bottom.px]=6 > Iniciar sesión </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
              </form>
            </mat-toolbar-row>
          </mat-toolbar>















