  <img id="fondo" src="../../../../assets/fondo_Inicio.jpg" alt="fondo" >
  <img id="logo" src="">
  <div id="toolbar">
      <mat-toolbar color="warm">
          <mat-toolbar-row>
          <span> BackTrading </span>
              <span class="example-fill-remaining-space"></span>
              <form>
                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                    <mat-label>Email</mat-label>
                    <input matInput type="email">
                    <mat-icon matSuffix>account_circle</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="fill" [style.fontSize.px]=12>
                      <mat-label>Password</mat-label>
                    <input matInput type="password">
                    <mat-icon matSuffix>visibility_off</mat-icon>
                  </mat-form-field>

                  <button mat-button type="submit" [style.bottom.px]=6 routerLink="/sistemas"> Iniciar sesión </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voicemail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
              </form>
            </mat-toolbar-row>
          </mat-toolbar>

        </div>

  <div id="FormRegistro" >
      <mat-card style="text-align: center;">
          <mat-card-title>Regístrate</mat-card-title>
          <mat-card-content>
              <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Nombre usuario</mat-label>
                    <input matInput placeholder="kevin23">
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-hint>6-20 caracteres</mat-hint>

                  </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Correo electrónico</mat-label>
                      <input matInput type="email" placeholder="example@example.com">
                      <mat-icon matSuffix>email</mat-icon>

                    </mat-form-field>
                  </p>
                  <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" placeholder="password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-hint>7-10 caracteres</mat-hint>

                      </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                          <mat-label>Fecha de nacimiento</mat-label>
                          <input matInput type="date">
                          <mat-icon matSuffix>date_range</mat-icon>
                          <mat-hint>7-10 caracteres</mat-hint>
                        </mat-form-field>
                      </p>

                      <button mat-raised-button color="primary" >Registrarse</button>
          </mat-card-content>
        </mat-card>

  </div>

  <footer>
      <mat-toolbar color="warm" id="footer">
        <span class="spacer"></span>
          <h2> @ copyright Angular App 2019</h2>
        <span class="spacer"></span>
      </mat-toolbar>
    </footer>










