<mat-accordion multi="false">
  <mat-card-title>
    <p>Indicadores técnicos<br></p>
  </mat-card-title>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Adaptive Moving Average
      </mat-panel-title>
      <mat-panel-description>
        AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico Media Móvil Adaptativa (Adaptive Moving Average, AMA) se utiliza para construir una media móvil con una sensibilidad débil a los ruidos en las series de los precios, y se caracteriza por la tardanza mínima en detectar una tendencia. Ha sido desarrollado por Perry Kaufman y lo ha descrito en su libro "Smarter Trading".
        <br>
        <br>
        Una de las desventajas que tienen los algoritmos para las series de precios consiste en que algunos saltos accidentales de los precios pueden provocar las señales falsas sobre la aparición de la tendencia. Por otro lado, el suavizado (smoothing) lleva a un retraso inevitable de la señal sobre la parada o el giro de la tendencia. Este indicador ha sido diseñado para superar estas dos desventajas.
        <br><br>
        <div align="center">
          <img  src="https://www.metatrader5.com/i/help/terminal/en/ama.png" alt="MA">
        </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            Para definir el estado actual del mercado, Kaufman introdujo el concepto del coeficiente de eficacia (Efficiency Ratio, ER) que se mide según la formula:
          <br>
            ER(i) = Signal(i)/Noise(i)
            <br>
             <br>
            aquí:
            <br>
            <br>
            ER(i) – valor actual del coeficiente de eficacia
            <br>
            Signal(i) = ABS(Price(i) - Price(i - N)) – valor actual de la señal, valor absoluto de la diferencia entre el precio actual y el precio de N períodos atrás;
            <br>
            Noise(i) = Sum(ABS(Price(i) - Price(i-1)),N) – valor actual del ruido, suma de valores absolutos de la diferencia entre el precio del período actual y el precio del período anterior para N períodos.
            
            <br><br>
            En caso de una tendencia fuerte, el coeficiente de eficacia (ER) va a tender al 1; en caso de no haber un movimiento con una dirección determinada, será un poco más del 0. El valor del ER obtenido se utiliza en la formula del suavizado exponencial:
            <br>
            EMA(i) = Price(i) * SC + EMA(i-1) * (1 - SC)
            <br>
            <br>
            aquí:
            <br>
            <br>
            SC = 2/(n+1) – constante de suavizado de EMA (smoothing constant), n – período de la móvil exponencial;
            <br>
            EMA(i–1) – valor anterior EMA.
            <br>
            <br>
            Es necesario que el coeficiente de suavizado para el mercado rápido sea como para la EMA con el período 2 (fast SC = 2/(2+1) = 0.6667), y para el período de falta de tendencia, el período de la EMA sea igual a 30 (slow SC = 2/(30+1) = 0.06452). De esta manera, se introduce una nueva constante variable de suavizado (scaled smoothing constant) SSC:
            <br>
            SSC(i) = (ER(i) * ( fast SC - slow SC) + slow SC
            <br> <br>
            o
            <br> <br>
            SSC(i) = ER(i) * 0.60215 + 0.06425
            <br> <br>
            Para que la constante variable de suavizado que se ha obtenido tenga más efecto en el período de promedio, Kaufman recomienda elevarla al cuadrado.
            <br> <br>
            La fórmula final de cálculo:
            <br> <br>
            AMA(i) = Price(i) * (SSC(i)^2) + AMA(i-1)*(1-SSC(i)^2)
            <br> <br>
            o (tras la transformación):
            <br> <br>
            AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))
            <br> <br>
            aquí:
            <br> <br>
            AMA(i) – valor actual de AMA;
            <br>
            AMA(i–1) – valor anterior de AMA;
            <br>
            SSC(i)  – valor actual de la constante de suavizado variable.</article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Envelopes
      </mat-panel-title>
      <mat-panel-description>
          UPPER BAND = SMA (CLOSE, N) * [1 + K / 1000] <br>
          LOWER BAND = SMA (CLOSE, N) * [1 - K / 1000]
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Líneas Operacionales" (Sobres, Envelopes) se forma por dos medias móviles, una de las cuales está desplazada hacia arriba, la otra – hacia abajo. La selección del óptimo valor relativo de la desviación de los márgenes de la banda se determina por la volatilidad del mercado: cuanto más alta sea, mayor será la desviación.
        <br>
        <br>
        Los Envelopes determinan los márgenes superiores e inferiores para un rango normal de fluctuaciones de los precios de títulos. La señal de venta aparece cuando el precio alcance el margen superior de la banda, y la señal de compra sale cuando llegue al margen inferior.
        <br>
        <br>
        El uso del indicador técnico Envelopes se basa en la lógica natural del comportamiento de mercado: cuando los precios alcanzan los valores extremos debido a una presión por parte de unos compradores y vendedores sumamente activos (es decir, llegan al margen superior o inferior de la banda), muy a menudo se estabilizan volviendo a unos niveles más realistas. El mismo principio se utiliza para la interpretación de las Bandas de Bollinger (Bollinger Bands®, BB).<br>
        <br> <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/envelopes.png" alt="Envelopes">
        </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            UPPER BAND = SMA (CLOSE, N) * [1 + K / 1000]
          <br>
            LOWER BAND = SMA (CLOSE, N) * [1 - K / 1000]
            <br>
            <br>
            Aquí:
            <br>
            <br>
            UPPER BAND – línea superior del indicador;
             <br>
            LOWER BAND – línea inferior del indicador;
            <br>
            SMA – media móvil simple;
            <br>
            CLOSE – precio de cierre;
            <br>
            N – período de promediación;
            <br>
            K / 1000 – valor de desviación del promedio (en décimas partes del por ciento).
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Moving Average
      </mat-panel-title>
      <mat-panel-description>
          AMA(i) = AMA(i-1) + (SSC(i)^2) * (Price(i) - AMA(i-1))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Media Móvil" (Moving Average, MA) muestra el valor medio del precio de un instrumento durante un determinado período de tiempo. Cuando se calcula Moving Average, se promedia matemáticamente el precio del instrumento durante un período de tiempo dado. En función del cambio del precio, su valor medio va aumentando o disminuyendo.
        <br>
        <br>
        Hay varios tipos de medias móviles: simple (también se llama aritmética), exponencial, suavizada y ponderada. La Moving Average puede ser calculada para cualquier conjunto secuencial de datos, incluyendo los precios de apertura y cierre, mínimos y máximos, volumen de trading o valores de otros indicadores. A menudo se utilizan las medias móviles de las mismas medias móviles.
        <br>
        <br>
        Lo único en que se diferencian sustancialmente las Medias Móviles de diferentes tipos son diferentes coeficientes ponderales que se asignan a los últimos datos. En caso de la Media Móvil Simple (Simple Moving Average), todos los precios del período considerado tienen el mismo peso. La Media Móvil Exponencial y la Pondera (Exponential Moving Average y Linear Weighted Moving Average) asignan más valor a los últimos precios.
        <br>
        <br>
        El modo más común de interpretar la media móvil del precio consiste en la comparación de su dinámica con la dinámica del mismo precio. Cuando el precio del instrumento financiero sube por encima del valor de la Media Móvil, aparece la señal de compra, cuando baja de la línea del indicador – salta la señal de venta.
        <br>
        <br>
        Este sistema de trading utilizando la Moving Average no está diseñado en absoluto para garantizar la entrada al mercado estrictamente en su punto más bajo, y la salida de él – justamente en su pico. Permite actuar según la tendencia actual: comprar después de que los precios hayan tocado fondo, y vender después de que se haya formado el pico.
        <br>
        <br>
        También se puede aplicarlas a los indicadores. La interpretación de las medias móviles de los indicadores es igual que la interpretación de las medias móviles de los precios: si el indicador sube por encima de su Moving Average, significa que el movimiento alcista del indicador continuará, pero si el indicador va por debajo de su Moving Average, significa que la continuación de su movimiento bajista.
        <br>
        <br>
        Tipos de medias móviles:
        <br>
        <br>
        Simple Moving Average (SMA) – Media Móvil Simple
        <br>
        Exponential Moving Average (EMA) – Media Móvil Exponencial
        <br>
        Smoothed Moving Average (SMMA) – Media Móvil Suavizada
        <br>
        Linear Weighted Moving Average (LWMA) – Media Móvil Ponderada Lineal
        <br><br>
        <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/ma.png" alt="Moving Average">
        </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            La media móvil simple o aritmética se calcula mediante la suma de los precios de cierre de un instrumento durante un determinado número de períodos simples (por ejemplo, durante 12 horas), dividiendo a continuación la suma por el número de estos períodos.
            <br>
            SMA = SUM (CLOSE (i), N) / N
            <br>
            <br>
            aquí:
            <br>
            <br>
            SUM – suma;
            <br>
            CLOSE (i) – precio de cierre del período actual;
            <br>
            N – número de períodos calculados.
            <br>

            Media Móvil Exponencial (Exponential Moving Average, EMA)
            La media móvil suavizada exponencialmente se calcula mediante la adición de una cierta parte del precio de cierre actual al valor anterior de la media móvil. A la hora de usar las medias móviles exponenciales, el mayor valor tienen los últimos precios de cierre. La media móvil exponencial de Р% será la siguiente:
            <br>
            EMA = (CLOSE (i) * P) + (EMA (i - 1) * (1 - P))
            <br>
            <br>
            aquí:

            <br>
            <br>
            CLOSE (i) – precio de cierre del período actual;
            <br>
            EMA (i - 1) – valor de la media móvil para el período anterior;
            <br>
            P – parte de uso del valor de precios.
            <br>

            Media Móvil Suavizada (Smoothed Moving Average, SMMA)
            <br>
            El primer valor de la media móvil suavizada se calcula como la media móvil simple (SMA):
            <br>
            SUM1 = SUM (CLOSE (i), N)
            <br>

            SMMA1 = SUM1 / N
            <br>
            <br>

            Para obtener el segundo valor se utiliza la siguiente fórmula:
            <br>
            <br>

            SMMA (i) = (SMMA1*(N-1) + CLOSE (i)) / N
            <br>

            Las medias móviles subsecuentes se calculan según el formula siguiente:
            <br>

            PREVSUM = SMMA (i - 1) * N
            <br>

            SMMA (i) = (PREVSUM - SMMA (i - 1) + CLOSE (i)) / N
            <br>
            <br>

            aquí:
            <br>
            <br>

            SUM – suma;
            <br>
            SUM1 – suma de precios de cierre para períodos N; se calcula a partir de la barra anterior;
            <br>
            PREVSUM – suma suavizada de la barra anterior;
            <br>
            SMMA (i-1) – media móvil suavizada de la barra anterior;
            <br>
            SMMA (i) – media móvil suavizada de la barra actual (salvo la primera barra);
            <br>
            CLOSE (i) – precio de cierre actual;
            <br>
            N – período de suavizado.
            <br>

            Se puede simplificar esta fórmula mediante algunas transformaciones aritméticas:\
            <br>

            SMMA (i) = (SMMA (i - 1) * (N - 1) + CLOSE (i)) / N
            <br>

            Media Móvil Ponderada Lineal (Linear Weighted Moving Average, LWMA)
            <br>
            En una media móvil ponderada los últimos datos tienen más valor que los datos iniciales. La media móvil ponderada se calcula multiplicando cada uno de los precios de cierre en la serie a considerar por un coeficiente ponderal determinado:
            <br>
            LWMA = SUM (CLOSE (i) * i, N) / SUM (i, N)
            <br>
            <br>
            aquí:
            <br>
            <br>
            SUM – suma;
            <br>
            CLOSE(i) – precio de cierre actual;
            <br>
            SUM (i, N) – suma de coeficientes ponderales;
            <br>
            N – período de suavizado.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Avergage true range
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "El Rango Medio Verdadero" (Average True Range, ATR) es el indicador de la volatilidad del mercado. Fue descrito por Welles Wilder en su libro "Nuevos Conceptos en los Sistemas de Operaciones Técnicos", y desde entonces se utiliza como un componente de otros numerosos indicadores y sistemas de trading.
        <br>
        <br>
        El indicador Average True Range a menudo alcanza altos valores en las bases del mercado tras una fuerte caída de los precios provocada por el pánico de los vendedores. Los valores bajos del indicador son típicos para los períodos prolongados del movimiento horizontal que se observan en los picos del mercado y en las fases de consolidación. Este indicador se puede interpretar según las mismas reglas que se utilizan para los demás indicadores de volatilidad. El principio de pronóstico mediante el Average True Range es el siguiente: cuanto más alto sea el valor del indicador, más alta será la posibilidad del cambio de tendencia; y cuanto más bajo sea su valor, más débil será la dirección de la tendencia.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/atr.png" alt="Average true range">
        </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            El Rango Verdadero (True Range) es el mayor de los tres siguientes valores:
            <br>
            la deferencia entre el máximo y mínimo actuales;
            <br>
            la diferencia entre el precio de cierre anterior y el máximo actual; <br>
            la diferencia entre el precio de cierre anterior y el mínimo actual. <br>
            El Indicador del Rango Medio Verdadero (Average True Range, ATR) es la media móvil de los valores del Rango Verdadero.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bears Power
      </mat-panel-title>
      <mat-panel-description>
          BEARS = LOW - EMA
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Cada sesión de trading es una lucha de los compradores ("toros"), los que intentan subir el precio, contra los vendedores ("osos") que lo empujan hacia abajo. En función de qué parte ha salido ganadora, la jornada se termina con un precio más alto o más bajo en comparación con la sesión anterior. Y los resultados intermedios, en primer lugar el precio máximo y el mínimo, permiten juzgar sobre cómo va desarrollando la lucha a lo largo de la jornada.
        <br>
        La tarea de estimación del balance de fuerzas de los "osos" es muy importante, ya que el cambio de este balance es una de las primeras señales que permiten acertar el posible cambio de tendencia. Esta tarea se resuelve mediante el oscilador Bears Power desarrollado por Alexander Elder y descrito en su libro "Vivir del Trading". Durante el desarrollo de su oscilador, Elder se basaba en las siguientes premisas:
        <br><br>
        la media móvil es un acuerdo sobre el precio entre los vendedores y los compradores durante un determinado período de tiempo,
        el precio mínimo refleja la fuerza máxima de los vendedores durante la jornada.
        Basándose en estas premisas, Elder desarrolló el Bear Power como la diferencia entre el precio mínimo y la media móvil exponencial de 13 períodos (LOW - ЕМА).
        <br><br>
        Aplicación
        Es mejor utilizar este indicador junto con uno de los indicadores de tendencia (normalmente suele ser la media móvil):
        <br><br>
        si el indicador de tendencia tiene la dirección alcista y el índice de la fuerza de los osos está bajo cero, pero va creciendo, es la señal de compra;
        es deseable que en este caso se forme la divergencia de las bases en el gráfico del indicador.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/bears_power.png" alt="Bears Power">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            La primera fase del cálculo de este indicador es el cálculo de la media móvil exponencial (como regla, se recomienda utilizar la de 13 períodos).
            <br>
            BEARS = LOW - EMA
            <br><br>
            aquí:
            <br><br>
            BEARS – fuerza de los osos;<br>
            LOW – precio mínimo de la barra actual;<br>
            EMA – media móvil exponencial.<br>
            <br><br>
            Durante la tendencia bajista el LOW es más bajo que la EMA, por eso la fuerza de los osos es menos de cero, y el histograma se sitúa por debajo de la línea cero. Si durante la subida de precios el LOW se sitúa por encima de la EMA, la fuerza de los osos es más de cero y su histograma sube por encima de la línea cero.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bulls Power
      </mat-panel-title>
      <mat-panel-description>
          BULLS = HIGH - EMA
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Cada sesión de trading es una lucha de los compradores ("toros"), los que intentan subir el precio, contra los vendedores ("osos") que lo empujan hacia abajo. En función de qué parte ha salido ganadora, la jornada se termina con un precio más alto o más bajo en comparación con la sesión anterior. Y los resultados intermedios, en primer lugar el precio máximo y el mínimo, permiten juzgar sobre cómo va desarrollando la lucha a lo largo de la jornada.
        <br>
        La tarea de estimación del balance de fuerzas de los "toros" es muy importante, ya que el cambio de este balance es una de las primeras señales que permiten acertar el posible cambio de tendencia. Esta tarea se resuelve mediante el oscilador Bulls Power desarrollado por Alexander Elder y descrito en su libro "Vivir del Trading". Durante el desarrollo de su oscilador, Elder se basaba en las siguientes premisas:
        <br><br>
        la media móvil es un acuerdo sobre el precio entre los vendedores y los compradores durante un determinado período de tiempo,
        el precio máximo refleja la fuerza máxima de los compradores durante la jornada.
        Basándose en estas premisas, Elder desarrolló el Bulls Power como la diferencia entre el precio máximo y la media móvil exponencial de 13 períodos (HIGH - ЕМА).
        <br><br>
        Aplicación
        Es mejor utilizar este indicador junto con uno de los indicadores de tendencia (normalmente suele ser la media móvil):
        <br>
        si el indicador de tendencia tiene la dirección bajista y el índice de la fuerza de los toros está sobre cero, pero va decreciendo, es la señal de venta;
        es deseable que en este caso se forme la divergencia de los picos en el gráfico del indicador.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/bulls_power.png" alt="Bulls Power">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            La primera fase del cálculo de este indicador es el cálculo de la media móvil exponencial (como regla, se recomienda utilizar la de 13 períodos).
            <br>
            BULLS = HIGH - EMA
            <br><br>
            aquí:
            <br><br>
            BULLS – fuerza de los toros;<br>
            HIGH – precio máximo de la barra actual;<br>
            EMA – media móvil exponencial.<br><br>

            Durante la tendencia alcista el HIGH es más alto que la EMA, por eso la fuerza de los toros es más de cero, y el histograma se sitúa por encima de la línea cero. Si durante la bajada de los precios el HIGH se sitúa por debajo de la EMA, la fuerza de los toros es menos de cero y su histograma baja.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Exponential Moving Average
      </mat-panel-title>
      <mat-panel-description>
        EMA = (CLOSE (i) * P) + (EMA (i - 1) * (1 - P))
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
      Un promedio móvil exponencial (EMA) es un tipo de promedio móvil ( MA ) que otorga un mayor peso e importancia a los puntos de datos más recientes. El promedio móvil exponencial también se conoce como el promedio móvil ponderado exponencialmente . Un promedio móvil ponderado exponencialmente reacciona de manera más significativa a los recientes cambios de precios que un promedio móvil simple ( SMA ), que aplica un peso igual a todas las observaciones en el período.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/dema.png" alt="DeMarker">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
          Se calcula el Exponential Moving Average de la siguiente manera:<br><br>
          EMA = (CLOSE (i) * P) + (EMA (i - 1) * (1 - P))
          <br><br>
          Donde P es una constante suavizada
          <br><br>
          Se puede concluir de lo dicho que calcular la EMA para un punto dado en el tiempo requiere haber realizado cálculos previos para conocer los periodos previos de la EMA.
          <br><br>
          Para la EMA diaria, se deduce el valor actual de la EMA del dia anterior, que a su vez se deduce del dia anterior a ese, y así sucesivamente.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MACD
      </mat-panel-title>
      <mat-panel-description>
          MACD = EMA(CLOSE, 12) - EMA(CLOSE, 26)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Convergencia/Divergencia de Medias Móviles" (Moving Average Convergence/Divergence, MACD) es un indicador dinámico que sigue la tendencia. Muestra la correlación de dos medias móviles del precio.
        <br><br>
El indicador técnico MACD se construye como la diferencia de dos media móviles exponenciales (EMA) con períodos de 12 y 26. Para definir con precisión los momentos oportunos de compra y venta, en el gráfico del MACD se dibuja una media móvil de 9 períodos, conocida como "línea de señal".
<br><br>
El MACD es más eficaz cuando el mercado se oscila con una gran amplitud dentro de la horquilla de trading. Las señales más utilizados del MACD son las siguientes: el cruzamiento, estado de sobrecompra/sobreventa y la divergencia.
<br><br>
Cruzamiento
La principal regla de trading mediante el eindicador MACD se basa en los cruces del indicador con su línea de señal: cuando el Moving Average Convergence/Divergence cae por debajo de la línea de señal, hay que vender, y si sube por encima, hay que comprar. Cuando el MACD cruza la línea cero arriba/abajo, esto también puede servir de señales de compra/venta, respectivamente.
<br><br>
Estado de sobrecompra/sobreventa
El Moving Average Convergence/Divergence es muy útil también como un indicador de sobrecompra/sobreventa. Cuando la media móvil corta sube sustancialmente por encima de la media móvil larga (es decir, el MACD va creciendo), eso significa que el precio del instrumento en cuestión seguramente está cotizado por encima de su valor real, y pronto volverá a un nivel más real.
<br><br>
Divergencias
Cuando entre el MACD y el precio se forma una divergencia, significa la posibilidad de pronta finalización de la tendencia actual. Una divergencia alcista surge cuando el MACD alcanza nuevos máximos, y el el precio no logra alcanzarlo. Una divergencia bajista surge cuando el indicador alcanza nuevos mínimos, y el precio no lo consigue. Los ambos tipos de divergencia tienen más valor si se forman en las áreas de sobrecompra/sobreventa.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/macd.png" alt="MACD">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            El indicador técnico Moving Average Convergence/Divergence se determina restando la media móvil exponencial de 26 períodos de la media móvil exponencial de 12 períodos. Luego por encima del gráfico del MACD se puntea una media móvil simple de 9 períodos (la línea de señal).
            <br><br>
MACD = EMA(CLOSE, 12) - EMA(CLOSE, 26)
<br>
SIGNAL = SMA(MACD, 9)
<br><br>
Aquí:
<br><br>
EMA – media móvil exponencial;<br>
SMA – media móvil simple;<br>
SIGNAL – línea de señal del indicador.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Momentum
      </mat-panel-title>
      <mat-panel-description>
          MOMENTUM = CLOSE (i) / CLOSE (i - n) * 100
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Momento" (Momentum) mide la variación del precio de un instrumento financiero en un determinado período de tiempo. Los principales modos de utilización del indicador son los siguientes:
        <br>
En calidad del oscilador que sigue la tendencia, igual que el Indicador técnico de Convergencia/Divergencia de Medias Móviles (Moving Average Convergence/Divergence, MACD). En este caso la señal de compra surge si el indicador Momentum forma un valle y empieza a crecer; la señal de venta – cuando alcanza el pico y se gira hacia abajo. Para una determinación más exacta de los momentos de giro del indicador, se puede utilizar su media móvil corta.<br><br>
Los valores extremamente altos o bajos del indicador suponen la continuación de la tendencia actual. Así, si el indicador alcanza los valores demasiado altos y luego se da la vuelta hacia abajo, es de esperar la futura subida de precios. Pero, en cualquier caso, no hace falta apresurarse abrir (o cerrar) posiciones hasta que los precios no confirmen la señal del indicador.<br><br>
En calidad del indicador adelantado. Este método se basa en la suposición de que la fase final de una tendencia alcista suele acompañarse de una impetuosa subida de precios (porque todos creen en su continuación), y la finalización del mercado bajista – de su brusca caída (porque todos intentan salir del mercado). A menudo todo pasa precisamente de esta manera, sin embargo es una generalización demasiado amplia.<br><br>
El acercamiento del mercado al pico va acompañado de un salto brusco del indicador Momentum. Luego éste empieza a caer mientras que los precios siguen creciendo o continúan su movimiento horizontal. Por analogía, en el fondo del mercado el Momentum cae de forma brusca, y luego se da la vuelta hacia arriba mucho antes de que los precios empiecen a crecer. En ambos casos se forma una divergencia entre el indicador y los precios.
      <br><br>
    <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/momentum.png" alt="Momentum">
    </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            El Momentum se determina como la relación entre el precio de hoy y el precio de hace n períodos:
            <br><br>
MOMENTUM = CLOSE (i) / CLOSE (i - n) * 100
<br><br>
Aquí:
<br><br>
CLOSE (i) – precio de cierre de la barra actual;<br>
CLOSE (i - n) – precio de cierre de n barras antes.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Moving Average of Oscillator
      </mat-panel-title>
      <mat-panel-description>
          OSMA = MACD - SIGNAL
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Media Móvil del Oscilador" (Moving Average of Oscillator, OsMA) es la diferencia entre el oscilador y el suavizado del oscilador. En este caso, como oscilador se utiliza la línea base del MACD, y como el suavizado se utiliza la línea de señal.
      <br> <br>
    <div align="center">
      <img src="https://www.metatrader5.com/i/help/terminal/en/osma.png" alt="Moving Average of Oscillador">
    </div> <br>
        

        <h2>Fórmula y valores</h2>
        <article>
            OSMA = MACD - SIGNAL
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Accumulation / Distribution
      </mat-panel-title>
      <mat-panel-description>
        A/D(i) =((CLOSE(i) - LOW(i)) - (HIGH(i) - CLOSE(i)) * VOLUME(i) / (HIGH(i) - LOW(i)) + A/D(i-1)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
      El indicador técnico "Acumulación/Distribución" (Accumulation Distribution, A/D) es determinado por el cambio del precio y volumen. El volumen actúa como un coeficiente ponderal durante el cambio del precio: cuanto más alto sea el coeficiente (volumen), más aportación hace el cambio del precio (durante este intervalo de tiempo) en el volumen del indicador.
      <br><br>
Prácticamente, este indicador es una versión del indicador "Balance de Volúmenes" (On Balance Volume) que se utiliza con más frecuencia. Los dos se utilizan para confirmar los cambios de precios a través de la medición del volumen de ventas correspondiente.
<br><br>
El crecimiento del indicador Accumulation/Distribution (A/D) significa la acumulación (compra) de los títulos, dado que la mayor parte del volumen de trading está relacionada con la tendencia de precios alcista. Cuando el indicador cae, significa la distribución (venta) de los títulos, ya que la mayor parte del volumen de trading está relacionada con la tendencia de precios a la baja.
<br><br>
Las divergencias entre el indicador Accumulation/Distribution y el precio del título indica en el próximo cambio de precios. Normalmente, en caso de la divergencia la tendencia de precios suele cambiarse en la dirección del movimiento del indicador. Así que si el indicador crece y el precio del título baja, habrá que esperar el giro de los precios.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/ad.png" alt="Accumulation Distribution">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
          Al valor actual acumulado del indicador se suma, o se resta de él, una cierta parte del volumen diario. Cuanto más cerca esté el precio de cierre al máximo de la sesión, más grande será la parte a sumar. Cuanto más cerca esté el precio de cierre al mínimo de la sesión, más grande será la parte a restar. El valor del indicador no se cambia si el precio de cierre se encuentra justo entre el máximo y el mínimo.
          <br><br>
          A/D(i) =((CLOSE(i) - LOW(i)) - (HIGH(i) - CLOSE(i)) * VOLUME(i) / (HIGH(i) - LOW(i)) + A/D(i-1)
          <br><br>
          Aquí:
          <br><br>
          A/D(i) – valor del indicador Acumulación/Distribución para la barra actual;<br>
          CLOSE(i) – precio de cierre de la barra;<br>
          LOW(i) – precio mínimo de la barra;<br>
          HIGH(i) – precio máximo de la barra;<br>
          VOLUME(i) – volumen;<br>
          A/D(i-1) – valor del indicador Acumulación/Distribución para la barra anterior.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Money Flow Index
      </mat-panel-title>
      <mat-panel-description>
          MFI = 100 - (100 / (1 + MR)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        Indicador técnico "Índice de Flujo del Dinero" (Money Flow Index, MFI) mide la fuerza con la que el dinero fluye hacia dentro o hacia fuera de una acción. La construcción e interpretación de este indicador es idéntica al Relative Strength Index, con la única diferencia: en el MFI se toma en cuenta el volumen.
        <br><br>
A la hora de analizar el Money Flow Index hay que tener en cuenta:
<br><br>
divergencias entre el indicador y movimiento de precios. <br>Si los precios suben y el valor del Money Flow Index baja (o al revés), es muy probable que los precios den la vuelta;
el valor del Money Flow Index superior a 80 e inferior a 20 señaliza sobre el pico o la base potencial del mercado, respectivamente.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/mfi.png" alt="Money Flow Index">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            El cálculo del valor del indicador Money Flow Index incluye varias etapas. Primero se define el precio típico (Typical Price, TP) del período en cuestión:
            <br><br>
TP = (HIGH + LOW + CLOSE) / 3
<br>
Luego se calcula el monto del Flujo del Dinero (Money Flow, MF):
<br>
MF = TP * VOLUME
<br><br>
Si hoy el precio típico supera el de ayer, entonces el flujo del dinero se considera positivo. Si hoy el precio típico es más bajo que el de ayer, entonces el flujo del dinero se considera negativo.
<br><br>
El flujo del dinero positivo (POSITIVE MONEY FLOW) es la suma de valores de los flujos del dinero positivos durante el período seleccionado.<br> El flujo del dinero negativo (NEGATIVE MONEY FLOW) es la suma de valores de los flujos del dinero negativos durante el período seleccionado.
<br><br>
Luego se calcula el ratio monetario (money ratio, MR), dividiendo el flujo positivo por el negativo:
<br>
MR = POSITIVE MONEY FLOW / NEGATIVE MONEY FLOW
<br><br>
Y por último, utilizando el ratio monetario se calcula el Índice de Flujos del Dinero:
<br>
MFI = 100 - (100 / (1 + MR)
<br><br>
Aquí:
<br><br>
HIGH – precio máximo de la barra actual;<br>
LOW – precio mínimo de la barra actual;<br>
CLOSE – precio de cierre de la barra actual;<br>
VOLUME – volumen de la barra actual.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
          On Balance Volume
      </mat-panel-title>
      <mat-panel-description id="obv">
          OBV (i) = OBV (i - 1) + VOLUME (i).<br>
          OBV (i) = OBV (i - 1) - VOLUME (i)<br>
          OBV (i) = OBV (i - 1)

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
        El indicador técnico "Balance de Volúmenes" (On Balance Volume, OBV) relaciona el volumen con los cambios de precio que han acompañado este volumen. Este indicador inventado por Joseph Granville es muy sencillo.<br><br> Si el precio de cierre de la barra actual es más alto que el precio de cierre de la barra anterior, el valor del volumen de la barra actual se suma al valor anterior del OBV. Si el precio de cierre de la barra actual es más bajo que el de la barra anterior, el volumen actual se resta del valor anterior del Balance de Volúmenes.
        <br><br>
La interpretación del indicador On Balance Volume se basa en el principio que los cambios del OBV preceden los cambios de precios. Según este principio, el aumento del volumen de balance significa que en el instrumento invierten los profesionales. Cuando más tarde el gran público empieza a invertir, el precio y los valores del indicador OBV empiezan a crecer bruscamente.
<br><br>
Si el precio adelanta en su movimiento el indicador On Balance Volume, ocurre así llamada "la falta de confirmación". Se puede observarlo en el pico del mercado alcista (cuando el precio sube sin el crecimiento correspondiente del Balance de Volúmenes, o adelantándolo) o en la base del mercado bajista (cuando el precio baja sin el decrecimiento correspondiente del Balance de Volúmenes, o adelantándolo).
<br><br>
Si cada nuevo pico es más alto que el anterior y cada nueva depresión supera a la anterior, se puede hablar de una tendencia alcista del On Balance Volume. Por analogía, una tendencia bajista del OBV supone la bajada de los picos y depresiones. Cuando el OBV se mueve por un canal horizontal sin formar picos y depresiones ascendentes y descendentes sucesivamente, se trata de una tendencia indeterminada.
<br><br>
Si la tendencia ya se ha establecido, se queda vigente hasta el momento del cambio. El cambio de la tendencia del On Balance Volume puede ocurrir de dos maneras. En el primer caso la tendencia se transforma de alcista a bajista, o bien de bajista a alcista.
<br><br>
En el segundo caso, la tendencia del OBV se pasa a una tendencia indeterminada y se mantiene así durante más de tres períodos. De esta manera, si la tendencia alcista se transforma en una tendencia indeterminada y se queda así durante unos dos períodos, y luego vuelve a ser alcista, se debe considerar que esta tendencia OBV todo este tiempo seguía siendo alcista.
<br><br>
Si la tendencia del indicador On Balance Volume se cambia de alcista a bajista, ocurre lo que se llama "ruptura". Debido a que las rupturas del indicador normalmente preceden a las rupturas de precios, los inversores deben ocupar las posiciones largas en caso de las rupturas del OBV hacia arriba, y vender en caso de las rupturas del OBV hacia abajo, respectivamente. Hay que mantener las posiciones abiertas hasta que la dirección de la tendencia no se cambie.
      <br><br>
      <div align="center">
        <img src="https://www.metatrader5.com/i/help/terminal/en/obv.png" alt="On Balance Volume">
      </div><br>
        <h2>Fórmula y valores</h2>
        <article>
            Si el precio de cierre actual es más alto que el anterior, entonces:
            <br>
OBV (i) = OBV (i - 1) + VOLUME (i).
<br><br>
Si el precio de cierre actual es más bajo que el anterior, entonces:
<br>
OBV (i) = OBV (i - 1) - VOLUME (i)
<br><br>
Si el precio de cierre actual es igual al precio anterior, entonces:
<br>
OBV (i) = OBV (i - 1)
<br><br>
Aquí:
<br><br>
OBV (i) – valor del indicador On Balance Volume durante el período actual;<br>
OBV (i - 1) – valor del indicador On Balance Volume durante el período anterior;<br>
VOLUME (i) – volumen de la barra actual.
        </article>
      </mat-card-content>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Volumes
    </mat-panel-title>
    <mat-panel-description>
        
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    Para el mercado Forex el indicador Volumes (volúmenes) es un indicador del número de cambios del precio en el transcurso de cada período del timeframe seleccionado. Para los símbolos del valor cotizado es un indicador de volúmenes tradeados actualmente (contratos, dinero, unidades, etc.).
    <br><br>Las barras del indicador tienen dos colores.<br><br> El verde significa que el volumen de la barra actual supera el volumen de la barra anterior.<br>El color rojo significa que el volumen de la barra actual es menos que el volumen de la barra anterior.<br><br> Los colores del indicador, así como su aplicación a los volúmenes reales o de ticks, se puede ajustar en sus parámetros.
    <br>
    <br>
    <div align="center">
      <img src="https://www.metatrader5.com/i/help/terminal/en/volumes_indicator.png" alt="volumes">
    </div><br>
    </mat-card-content>

</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Market Facilitation Index
    </mat-panel-title>
    <mat-panel-description>
      BW MFI = (HIGH - LOW) / VOLUME
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card-content>
    El indicador técnico "El Índice de Facilitación del Mercado" (Market Facilitation Index, BW MFI) muestra el cambio del precio que sucede en un tick. Los valores absolutos del indicador como tal no tienen un significado útil, sólo los cambios del indicador tienen el sentido. Bill Williams atribuye gran importancia a los cambios del indicador y el volumen:
    <br><br>
  El indicador Market Facilitation Index ha subido y el volumen también ha subido, ello indica lo siguiente:<br> a) cada vez más jugadores entran al mercado (el volumen crece).<br> b) los jugadores recién llegados abren posiciones en dirección del desarrollo de la barra, es decir, el movimiento ha empezado y adquiere velocidad.
  <br><br>
  El indicador Market Facilitation Index ha caído y el volumen también. Eso significa que los participantes del mercado van perdiendo el interés.
  <br><br>
  El indicador Market Facilitation Index ha subido, pero el volumen ha caído. Eso indica que el mercado no tiene soporte de volumen por parte de los traders y el precio se cambia gracias a las especulaciones de los traders "en el suelo" (intermediarios – brokers y dealers).
  <br><br>
  El indicador Market Facilitation Index ha caído, pero el volumen ha subido. Tiene lugar una lucha entre los toros y osos que se caracteriza por un gran volumen de compras y ventas pero con un movimiento débil del mismo precio como resultado de la fuerza equitativa en ambas direcciones. Una de las dos partes combatientes (compradores contra los vendedores) va a ganar. Generalmente la ruptura de esta barra da a entender si esta barra determina o no la continuación de la tendencia, o bien la anula. Bill Williams llama esta barra "sentada".
      <br><br>
    <div align="center">
      <img src="https://www.metatrader5.com/i/help/terminal/en/market_facilitation.png" alt="Oscillator">
    </div><br>
      <h2>Fórmula y valores</h2>
      <article>
        Para el cálculo del BW MFI es necesario del precio máximo de la barra restar el mínimo y dividir el resultado obtenido por el volumen.
        <br><br>
        BW MFI = (HIGH - LOW) / VOLUME
        <br><br>
        Aquí:
        <br><br>
        HIGH – precio máximo de la barra en curso;<br>
        LOW – precio mínimo de la barra en curso;<br>
        VOLUME – volumen de la barra en curso.

      </article>

    </mat-card-content>
  </mat-expansion-panel>


</mat-accordion>
