<div class="ventana">
    <div id="toolbar">
        <mat-toolbar color="warm" class="mat-elevation-z5">
            <mat-toolbar-row>
            <span> BackTrading </span>
                <span class="example-fill-remaining-space"></span>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>perm_identity</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)='onLogout()'>
                      <mat-icon>meeting_room</mat-icon>
                      <span>Cerrar sesion</span>
                    </button>
                    <button mat-menu-item (click)='changePassword()'>
                      <mat-icon>build</mat-icon>
                      <span>Cambiar contraseña</span>
                    </button>

                  </mat-menu>
              </mat-toolbar-row>
            </mat-toolbar>

          </div>
</div>


