<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
      <app-default-header fxLayout="column">
      </app-default-header>
      <app-default-sidebar fxLayout="column" fxFlex="300">
      </app-default-sidebar>
      <!--<app-default-footer fxLayout="column"></app-default-footer>-->
      <!--hola-->
      <router-outlet></router-outlet>
</body>
</html>
