.table{
  position: absolute;
  top: 12%;
  left: 21%;
  right: 1%;
  bottom: 12%;
  width: 77%;
  padding-bottom: 5%;

}
table{
  background-color: coral;
  color: brown;
}
.example-viewport {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
mat-card{
  position: absolute;

  top: 12%;
  left: 21%;
  right: 1%;

  padding-bottom: 7%;


}
.errores{
  color: red;
}

